# Бинарники, которые не нужны
*.o

# IDE
.idea/
.vscode/
*.iml

# Microsoft Word
*.doc
*.docx

# Логи и временные файлы
*.log
*.tmp

# Игнорируем старые сборки, но НЕ игнорируем exe и JRE для релиза
# out/   <- убрал, чтобы exe мог пушиться
# build/
# cmake-build-*/

# Игнорируем только class файлы и промежуточные артефакты
*.class
